body {
    margin: 0;
    background-color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

header h1 {
    font-size: 1.5rem;
}

.logo {
    font-family: "Lobster", sans-serif;
    color: palevioletred;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    margin: 0 1em;
}

.nav-items a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.featured-article {
    border: 1px solid black;
    height: 40vh;
}

/* GRID */

.article-grid {
    display: grid;
}

.box {
    border: 1px solid black;
    padding: 1em;
}

.box1 {
    grid-area: 1;
}

.box2 {
    grid-area: 2;
}

.box3 {
    grid-area: 3;
}

.box4 {
    grid-area: 4;
}

.box5 {
    grid-area: 5;
}

.box6 {
    grid-area: 6;
}

/* MEDIA QUERIES */

@media (min-width: 560px) {
    .article-grid {
        grid-template-areas: 
            "1 2 3"
            "4 5 6";
    }
}